@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/thsarabunnew-webfont.eot');
    src: url('../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.eot');
    src: url('../fonts/Kanit-Light.woff') format('woff'),
         url('../fonts/Kanit-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: "Kanit"; 
    font-size:16px;
}

.ml-menu li{
    font-family: "Kanit";
}

.ml-menu li a{
    font-family: "Kanit";
}

.list li{
    font-family: "Kanit";
}

select, a , button ,input, h1,h2,h3,h4,h5,p,textarea,form,span,i {
    font-family: "Kanit";
}

.btn{
    font-size:14px; 
}

.blink {
    animation: blinker 2s linear infinite;
    color: #f5f8fa;
    font-size: 15px;
    font-weight: 100
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .blink-one {
    animation: blinker-one 2s linear infinite;
  }
  @keyframes blinker-one {
    0% {
      opacity: 0;
    }
  }
  .blink-two {
    animation: blinker-two 2.4s linear infinite;
  }
  @keyframes blinker-two {
    100% {
      opacity: 0;
    }
  }

	input {
		font-size:16px !important;
    height: 41px !important;
	}

  a {
		font-size:16px !important;
	}
 
  button {
		font-size:16px !important;
    /* height: 41px !important; */
	}

.card-footer {
    padding: 2.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
h2{
    margin: 0;
}
h6{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    

}
h5{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    color: #000000;
}
h4{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.color-01{
    color: #43b19d;
}
.color-02{
    color: #2b68b8;
    ;
}
.color-03{
    color: #eb9f2d;
}
.color-04{
    color: #a0cc3a;
}
.table-responsive{
  height: 100%;
}
.table-score {
    width: 100%;
    margin-bottom: 1rem;
    color: #111111;
    text-align: center;
    font-weight: 500;
}
.table-score td, .table-score th {
    padding: 7px;
    vertical-align: top;
    border-top: 0.25px solid #dee2e6;
}
.bg-01{
    background-color:#8199c5;
}
.bg-02{
    background-color:#4688ce;
}
.bg-03{
    background-color:#b1cfe4;
}
.bg-04{
    background-color:#e69628;
}
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #ffffff;
}
.white{
    color: #ffffff;
}

.table-bordered td{
   padding-left: 5px !important;
   padding-right: 5px !important;
}

table {
  border-top: 1px solid #ddd !important;
}

  /* RESET STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  
  .chart-skills *,
  .chart-skills::before {
    box-sizing: border-box;
  }
  
  
  /* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .chart-skills {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
  }
  
  .chart-skills::before,
  .chart-skills::after {
    position: absolute;
  }
  
  .chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
  }
  
  
  .chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
  }
  
  .chart-skills li:nth-child(1) {
    z-index: 4;
    border-color: rgb(52, 212, 119);
    /* animation-name: rotate-one; */
    transform: rotate(0deg);
  }
  
  
  .chart-skills span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
  }
  
  .chart-skills li:nth-child(1) span {
    top: -35px;
    left: -42px;
    transform: rotate(0deg);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @keyframes rotate-one {
    100% {
      transform: rotate(0deg);
      /**
       * 62.94%	62.94/100 * 180 = 113.2
       */
    }
  }
  
  
  @keyframes fade-in {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }





/* ****************************************************************************************************************************************************** */

  /* RESET STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul .chart-skills2 {
    margin-top: -230px;
  }

  .chart-skills2 {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  
  .chart-skills2 *,
  .chart-skills2::before {
    box-sizing: border-box;
  }
  
  
  /* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .chart-skills2 {
    position: relative;
    width: 460px;
    height: 230px;
    overflow: hidden;
  }
  
  .chart-skills2::before,
  .chart-skills2::after {
    position: absolute;
  }
  
  .chart-skills2::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
  }
  
  
  .chart-skills2 li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
  }
  
  .chart-skills2 li:nth-child(1) {
    z-index: 4;
    border-color: rgb(204, 99, 1);
    /* animation-name: rotate-two; */
    transform: rotate(0deg);
  }
  
  
  .chart-skills2 span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
  }
  
  .chart-skills2 li:nth-child(1) span {
    top: -40px;
    left: -42px;
    transform: rotate(0deg);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @keyframes rotate-two {
    100% {
      transform: rotate(0deg);
      /**
       * 62.94%	62.94/100 * 180 = 131.6
       */
    }
  }
  
  
  @keyframes fade-in {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* ****************************************************************************************************************************************************** */

  /* RESET STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul .chart-skills3 {
    margin-top: -286px;
  }

  .chart-skills3 {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  
  .chart-skills2 *,
  .chart-skills2::before {
    box-sizing: border-box;
  }
  
  
  /* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .chart-skills3 {
    position: relative;
    width: 572px;
    height: 286px;
    overflow: hidden;
  }
  
  .chart-skills3::before,
  .chart-skills3::after {
    position: absolute;
  }
  
  .chart-skills3::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 286px;
    border-top-right-radius: 286px;
  }
  
  
  .chart-skills3 li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 286px;
    border-bottom-right-radius: 286px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
  }
  
  .chart-skills3 li:nth-child(1) {
    z-index: 4;
    border-color: rgb(0, 41, 128);
    /* animation-name: rotate-three; */
     transform: rotate(0deg);
  }
  
  
  .chart-skills3 span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
  }
  
  .chart-skills3 li:nth-child(1) span {
    top: -40px;
    left: -42px;
    transform: rotate(0deg);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @keyframes rotate-three {
    100% {
      transform: rotate(0deg);
      /**
       * 84.76%	84.76/100 * 180 = 152.5
       */
    }
  }
  
  
  @keyframes fade-in {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* ****************************************************************************************************************************************************** */

  /* RESET STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul .chart-skills4 {
    margin-top: -286px;
  }

  .chart-skills4 {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  
  .chart-skills4 *,
  .chart-skills4::before {
    box-sizing: border-box;
  }
  
  
  /* CHART-SKILLS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .chart-skills4 {
    position: relative;
    width: 688px;
    height: 344px;
    overflow: hidden;
  }
  
  .chart-skills4::before,
  .chart-skills4::after {
    position: absolute;
  }
  
  .chart-skills4::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 344px;
    border-top-right-radius: 344px;
  }
  
  
  .chart-skills4 li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 344px;
    border-bottom-right-radius: 344px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
  }
  
  .chart-skills4 li:nth-child(1) {
    z-index: 4;
    border-color: rgb(0, 128, 79);
    /* animation-name: rotate-four; */
    transform: rotate(0deg);
  }
  
  
  .chart-skills4 span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
  }
  
  .chart-skills4 li:nth-child(1) span {
    top: -40px;
    left: -42px;
    transform: rotate(0deg);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @keyframes rotate-four {
    100% {
      transform: rotate(0deg);
      /**
       * 94.31%	94.31/100 * 180 = 169.7
       */
    }
  }
  
  
  @keyframes fade-in {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .l-40{
    margin-left: -100px;
  }
  .text-max {
    margin: -25px 800px;
    width: 100%;
}
.text-min {
  margin: -18px 70px;
}

  @media(max-width:1210px) {
      .none{
          display: none;
      }
  }
  @media(max-width:1220px) and (max-width:1310px) {
    .chart-skills4 {
      position: relative;
      width: 688px;
      height: 344px;
      overflow: hidden;
  }
  .l-30{
    margin-left: -33px;
  }
  .l-100{
    margin-left: -100px;
  }
  .text-max {
    margin: -18px 666px;
}
.text-min {
  margin: -16px -59px;
}

  }