@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/thsarabunnew-webfont.eot');
  src: url('../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/thsarabunnew-webfont.woff') format('woff'),
       url('../fonts/thsarabunnew-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Light.eot');
  src: url('../fonts/Kanit-Light.woff') format('woff'),
       url('../fonts/Kanit-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: "Kanit"; 
  font-size:16px;
}

.ml-menu li{
  font-family: "Kanit";
}

.ml-menu li a{
  font-family: "Kanit";
}

.list li{
  font-family: "Kanit";
}

select, a , button ,input, h1,h2,h3,h4,h5,p,textarea,form,span,i {
  font-family: "Kanit";
}

.btn{
  font-size:14px; 
}


navbar-brand{min-width:10.625rem}

.blink {
  animation: blinker 2s linear infinite;
  color: #f5f8fa;
  font-size: 15px;
  font-weight: 100
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink-one {
  animation: blinker-one 2s linear infinite;
}
@keyframes blinker-one {
  0% {
    opacity: 0;
  }
}
.blink-two {
  animation: blinker-two 2.4s linear infinite;
}
@keyframes blinker-two {
  100% {
    opacity: 0;
  }
}

input {
  font-size:16px !important;
  height: 41px !important;
}

a {
  font-size:16px !important;
}

button {
  font-size:16px !important;
  /* height: 41px !important; */
}

.card-footer {
  padding: 2.75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}
h2{
  margin: 0;
}
h6{
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  

}
h5{
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  color: #000000;
}
h4{
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.color-01{
  color: #43b19d;
}
.color-02{
  color: #2b68b8;
  ;
}
.color-03{
  color: #eb9f2d;
}
.color-04{
  color: #a0cc3a;
}
.table-responsive{
height: 100%;
}
.table-score {
  width: 100%;
  margin-bottom: 1rem;
  color: #111111;
  text-align: center;
  font-weight: 500;
}
.table-score td, .table-score th {
  padding: 7px;
  vertical-align: top;
  border-top: 0.25px solid #dee2e6;
}
.bg-01{
  background-color:#8199c5;
}
.bg-02{
  background-color:#4688ce;
}
.bg-03{
  background-color:#b1cfe4;
}
.bg-04{
  background-color:#e69628;
}
.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #ffffff;
}
.white{
  color: #ffffff;
}

.table-bordered td{
 padding-left: 5px !important;
 padding-right: 5px !important;
}

table {
border-top: 1px solid #ddd !important;

}

.pillarname
{
  font-weight: bold;
  font-size:18px;
  white-space: nowrap;
}

.projectstat
{
  font-size: 20px;
}

.projectstatnum
{
  font-size: 40px !important;
}


@media only screen and (max-width: 1025px) {


  .space-block
  {

    display: none;
  }
  
  .row.l-50
  {
    padding-left: 20px;
  }

  .pillarscore
  {
    font-size: 18px;

  }
  .pillarscoreh5
  {
    margin-top: 5px;
    padding: 0;
  }


  .imgpillar
  {
    max-width: 70px;
    margin-top: 5px;
  }

  .pillarname
  {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .projectstat
  {
    font-size: 16px;
  }
  
  .projectstatnum
  {
    font-size: 32px !important;
  }

  .pillarcard
  {
    min-height: 140px;
  }

  .dataTables_filter
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  

}

@media only screen and (max-width: 768px) {
  .table.table-bordered.table-dark
  {
    display: none;
  }

  .f-table.table2-none.table-w
  {
    display: none;
  }
  .pillarbx
  {
    margin: 0px;
  }
  .row.l-50{
    text-align:center;
    padding-left:30px;
    padding-right:30px
  }
  .pillarscore
  {
    font-size: 28px;

  }
  /* .pillarscoreh5
  {
    margin-top: 5px;
    padding: 0;
  } */


  .imgpillar
  {
    max-width: 90px;
    margin-top: 5px;
  }

  .pillarname
  {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .chartscore
  {
    font-size: 16px !important;
    padding-bottom: 20px !important;
    z-index: 1111;
    /* width: 100% !important; */
  }
}
@media only screen and (max-width: 414px) {

  .pillarbx
  {
    margin: 0px;
  }

  .top-550
  {
 
    margin-top: 100px;
  }
  .pillarinfo
  {
    text-align: center;
  }

  .dataTables_filter
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .pillarcard
  {
    min-height: 162px;
  }
  .chartscore
  {
    width: 50px;
    font-size: 16px !important;
  }
  .header-elements
  {
    display: none;
  }

}


@media only screen and (max-width: 376px) {

  .pillarbx
  {
    margin: 0px;
  }

  .top-550
  {
 
    margin-top: 100px;
  }
  .pillarinfo
  {
    text-align: center;
  }

  .dataTables_filter
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .header-elements
  {
    display: none;
  }

}




