@font-face{
    font-family:  'THSarabunNew';
    font-style: normal;
    font-weight: normal;
    src: url("{{ asset('assets/dashboard/fonts/pdf/thsarabunnew-webfont.ttf') }}") format('truetype');
}
@font-face{
    font-family:  'THSarabunNew';
    font-style: normal;
    font-weight: bold;
    src: url("{{ asset('assets/dashboard/fonts/pdf/thsarabunnew_bold-webfont.ttf') }}") format('truetype');
}
@font-face{
    font-family:  'THSarabunNew';
    font-style: italic;
    font-weight: normal;
    src: url("{{ asset('assets/dashboard/fonts/pdf/thsarabunnew_italic-webfont.ttf') }}") format('truetype');
}
@font-face{
    font-family:  'THSarabunNew';
    font-style: italic;
    font-weight: bold;
    src: url("{{ asset('assets/dashboard/fonts/pdf/thsarabunnew_bolditalic-webfont.ttf') }}") format('truetype');
}

body {
    margin-top: -10px;
    padding: 0;
    font-family: "THSarabunNew";
    font-size:18px;
}
.wrapper {
    position: relative;
    width: 100%;
    padding: 0;
}
.container{
    margin-left: 30px;
    position: relative;
    max-width: 820px;
    max-height: 960px;
    padding: 0; 
    overflow: hidden;
}
.box{
    position: relative;
    display: block;
}
.box div{
    font-size:14px;
}
.bw750{
    width: 750px;
}
.bw700{
    width: 700px;
}
.bw650{
    width: 650px;
}
.bw600{
    width: 600px;
}
.bw550{
    width: 550px;
}
.bw500{
    width: 500px;
}
.bw450{
    width: 450px;
}
.bw400{
    width: 400px;
}
.bw350{
    width: 350px;
}
.bw300{
    width: 300px;
}
.bw250{
    width: 250px;
}
.bw200{
    width: 200px;
}
.bw150{
    width: 150px;
}
.bw100{
    width: 150px;
}
.bh750{
    height: 750px;
}
.bh700{
    height: 700px;
}
.bh650{
    height: 650px;
}
.bh600{
    height: 600px;
}
.bh550{
    height: 550px;
}
.bh500{
    height: 500px;
}
.bh450{
    height: 450px;
}
.bh400{
    height: 400px;
}
.bh350{
    height: 350px;
}
.bh300{
    height: 300px;
}
.bh250{
    height: 250px;
}
.bh200{
    height: 200px;
}
.bh150{
    height: 150px;
}
.bh100{
    height: 150px;
}
.border{
    border: 1px solid black;
}
.borderdashed{
    border-style: dashed;
}
.borderdotted{
    border-style: dotted;
}

.left {
    float:left;
}
.right {
    float:right;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-justify {
    text-align: justify;
}
div.center {
    text-align:center
}
.page-break {
    page-break-after: always;
} 
.font6{
    font-size:6px !important;
}
.font8{
    font-size:8px !important;
}
.font10{
    font-size:10px !important;
}
.font12{
    font-size:12px !important;
}
.font14{
    font-size:14px !important;
}
.font16{
    font-size:16px !important;
}
.font18{
    font-size:18px !important;
}
.font20{
    font-size:20px !important;
}
.font22{
    font-size:22px !important;
}
.font24{
    font-size:24px !important;
}
.font26{
    font-size:26px !important;
}
.font28{
    font-size:28px !important;
}
.font30{
    font-size:30px !important;
}
.font32{
    font-size:32px !important;
}
.font34{
    font-size:34px;
}
.font36{
    font-size:36px;
}
.font38{
    font-size:38px;
}
.font40{
    font-size:40px;
}
.lh6{
    line-height:6px;
}
.lh8{
    line-height:8px;
}
.lh10{
    line-height:10px;;
}
.lh12{
    line-height:12px;
}
.lh14{
    line-height:14px;
}
.lh16{
    line-height:16px;
}
.lh18{
    line-height:18px;
}
.lh20{
    line-height:20px;
}
.lh22{
    line-height:22px;
}
.lh24{
    line-height:24px;
}
.lh26{
    line-height:26px;
}
.lh28{
    line-height:28px;
}
.lh30{
    line-height:30px;
}
.lh32{
    line-height:32px;
}
.lh34{
    line-height:34px;
}
.lh36{
    line-height:36px;
}
.lh38{
    line-height:38px;
}
.lh40{
    line-height:40px;
}
.mt-20{
    margin-top: -20px;
}
.mt-15{
    margin-top: -15px;
}
.mt-10{
    margin-top: -10px;
}
.mt-5{
    margin-top: -5px;
}
.mt0{
    margin-top: 0px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt35{
    margin-top: 35px;
}
.mt40{
    margin-top: 40px;
}
.mt45{
    margin-top: 45px;
}
.mt50{
    margin-top: 50px;
}
.mt55{
    margin-top: 55px;
}
.mt60{
    margin-top: 60px;
}
.mt65{
    margin-top: 65px;
}
.mt70{
    margin-top: 70px;
}
.mt75{
    margin-top: 75px;
}
.mt80{
    margin-top: 80px;
}
.mt85{
    margin-top: 85px;
}
.mt90{
    margin-top: 90px;
}
.mt95{
    margin-top: 95px;
}
.mt100{
    margin-top: 100px;
}
.ml-20{
    margin-left: -20px;
}
.ml-15{
    margin-left: -15px;
}
.ml-10{
    margin-left: -10px;
}
.ml-5{
    margin-left: -5px;
}
.ml0{
    margin-left: 0px;
}

.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml25{
    margin-left: 25px;
}
.ml30{
    margin-left: 30px;
}
.ml35{
    margin-left: 35px;
}
.ml40{
    margin-left: 40px;
}
.ml45{
    margin-left: 45px;
}
.ml50{
    margin-left: 50px;
}
.ml55{
    margin-left: 55px;
}
.ml60{
    margin-left: 60px;
}
.ml65{
    margin-left: 65px;
}
.ml70{
    margin-left: 70px;
}
.ml75{
    margin-left: 75px;
}
.ml80{
    margin-left: 80px;
}
.ml85{
    margin-left: 85px;
}
.ml90{
    margin-left: 90px;
}
.ml95{
    margin-left: 95px;
}
.ml100{
    margin-left: 100px;
}
.ml105{
    margin-left: 105px;
}
.ml110{
    margin-left: 11045px;
}
.ml115{
    margin-left: 115px;
}
.ml120{
    margin-left: 120px;
}
.ml125{
    margin-left: 125px;
}
.ml130{
    margin-left: 130px;
}
.ml135{
    margin-left: 135px;
}
.ml140{
    margin-left: 140px;
}
.ml145{
    margin-left: 145px;
}
.ml150{
    margin-left: 150px;
}
.ml200{
    margin-left: 200px;
}
.ml250{
    margin-left: 250px;
}
.ml300{
    margin-left: 300px;
}
.ml350{
    margin-left: 350px;
}
.ml400{
    margin-left: 400px;
}
.ml450{
    margin-left: 450px;
}
.ml500{
    margin-left: 150px;
}
.mb-20{
    margin-bottom: -20px;
}
.mb-15{
    margin-bottom: -15px;
}
.mb-10{
    margin-bottom: -10px;
}
.mb-5{
    margin-bottom: -5px;
}
.mb0{
    margin-bottom: 0px;
}

.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}
.mb35{
    margin-bottom: 35px;
}
.mb40{
    margin-bottom: 40px;
}
.chkbox {
    float: left;
    height: 20px;
    min-width: 20px !important;
    width: 20px !important;
    /* margin-bottom: 15px; */
    border: 1px solid black;
    clear: both;
}
table{
    /* border: 1px solid black; */
    padding-top:8px
}
td, th {
    border: 1px solid black;
    padding-top:7px;
    padding-bottom:2px
}
.border{
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table .tbwrap{
    table-layout:fixed; 
    width:100%;
    page-break-inside: auto; 
}