
.sarabun{font-family: 'Sarabun' !important;}body{font-family:"Sarabun" !important;color:#444}#color{color: #fff;}a{color:#428bca}a:hover{color:#9eccf4;text-decoration:none}h1,h2,h3,h4,h5,h6,.font-primary{font-family:"Raleway",sans-serif}#topbar{background:#428bca;padding:10px 0;border-bottom:1px solid #eee;font-size:14px}#topbar .contact-info a{line-height:1;color:#fff;transition:0.3s}#topbar .contact-info a:hover{color:#428bca}#topbar .contact-info i{color:#fff;padding:4px}#topbar .contact-info .icofont-phone{padding-left:20px;margin-left:10px}#topbar .social-links a{color:#fff;padding:4px 12px;display:inline-block;line-height:1px;transition:0.3s}#topbar .social-links a:hover{color:#222}#header{height:90px;transition:all 0.5s;transition:all 0.5s;padding:10px 0;background:#fff;z-index:997}#header.header-scrolled{box-shadow:0 0 20px 0 rgba(0,0,0,0.1)}#header .logo h1{font-size:28px;margin:0;padding:10px 0;line-height:1;font-weight:400;letter-spacing:3px;text-transform:uppercase}#header .logo h1 a,#header .logo h1 a:hover{color:#1c5c93;text-decoration:none}#header .logo img{padding:0;margin:0;max-height:70px}.nav-menu,.nav-menu *{margin:0;padding:0;list-style:none}.nav-menu > ul > li{position:relative;white-space:nowrap;float:left}.nav-menu a{display:block;position:relative;color:#5c768d;padding:12px 15px;transition:0.3s;font-size:20px;font-family:"Open Sans",sans-serif}.nav-menu a:hover,.nav-menu .active > a,.nav-menu li:hover > a{color:#428bca;text-decoration:none}.nav-menu .drop-down ul{display:block;position:absolute;left:0;top:100%;z-index:99;opacity:0;visibility:hidden;padding:10px 0;background:#fff;box-shadow:0 0 30px rgba(127,137,161,0.25);transition:ease all 0.3s}.nav-menu .drop-down:hover > ul{opacity:1;top:100%;visibility:visible}.nav-menu .drop-down li{min-width:180px;position:relative}.nav-menu .drop-down ul a{padding:10px 20px;font-size:14px;font-weight:500;text-transform:none;color:#103453}.nav-menu .drop-down ul a:hover,.nav-menu .drop-down ul .active > a,.nav-menu .drop-down ul li:hover > a{color:#428bca}.nav-menu .drop-down > a:after{content:"\ea99";font-family:IcoFont;padding-left:5px}.nav-menu .drop-down .drop-down ul{top:0;left:100%}.nav-menu .drop-down .drop-down:hover > ul{opacity:1;top:0}.nav-menu .drop-down .drop-down > a{padding-right:35px}.nav-menu .drop-down .drop-down > a:after{content:"\eaa0";font-family:IcoFont;position:absolute;right:15px}@media (max-width:1366px){.nav-menu .drop-down .drop-down ul{left:-90%}.nav-menu .drop-down .drop-down:hover > ul{left:-100%}.nav-menu .drop-down .drop-down > a:after{content:"\ea9d"}}   .mobile-nav{position:fixed;top:0;bottom:0;z-index:9999;overflow-y:auto;left:-260px;width:260px;padding-top:18px;background:#1f3548;transition:0.4s}.mobile-nav *{margin:0;padding:0;list-style:none}.mobile-nav a{display:block;position:relative;color:#e3f0fc;padding:10px 20px;font-weight:500}.mobile-nav a:hover,.mobile-nav .active > a,.mobile-nav li:hover > a{color:#9eccf4;text-decoration:none}.mobile-nav .drop-down > a:after{content:"\ea99";font-family:IcoFont;padding-left:10px;position:absolute;right:15px}.mobile-nav .active.drop-down > a:after{content:"\eaa0"}.mobile-nav .drop-down > a{padding-right:35px}.mobile-nav .drop-down ul{display:none;overflow:hidden}.mobile-nav .drop-down li{padding-left:20px}.mobile-nav-toggle{position:fixed;right:15px;top:20px;z-index:9998;border:0;background:none;font-size:24px;transition:all 0.4s;outline:none !important;line-height:1;cursor:pointer;text-align:right}.mobile-nav-toggle i{color:#5c768d}.mobile-nav-overly{width:100%;height:100%;z-index:9997;top:0;left:0;position:fixed;background:rgba(31,53,72,0.7);overflow:hidden;display:none}.mobile-nav-active{overflow:hidden}.mobile-nav-active .mobile-nav{left:0}.mobile-nav-active .mobile-nav-toggle i{color:#fff}#hero{width:100%;height:calc(100vh - 114px);padding:0;overflow:hidden} .services{padding-bottom:30px}.services .icon-box{margin-bottom:20px;text-align:center}.services .icon{display:flex;justify-content:center}.services .icon i{width:80px;height:80px;margin-bottom:20px;background:#fff;border-radius:50%;transition:0.5s;color:#428bca;font-size:40px;overflow:hidden;padding-top:20px;box-shadow:0 0 25px rgba(0,0,0,0.15)}.services .icon-box:hover .icon i{box-shadow:0 0 30px rgba(66,139,202,0.5)}.services .title{font-weight:600;margin-bottom:15px;font-size:18px;position:relative;padding-bottom:15px;margin-top:15px}.services .title a{color:#444;transition:0.3s}.services .title a:hover{color:#428bca}.services .title::after{content:'';position:absolute;display:block;width:50px;height:2px;background:#428bca;bottom:0;left:calc(50% - 25px)}.services .description{line-height:24px;font-size:20px}section{padding:60px 0}.section-bg{background-color:#f5f9fc}.section-title{text-align:center;padding-bottom:30px}.section-title h2{font-size:32px;font-weight:600;margin-bottom:20px;padding-bottom:0;color:#5c768d}.section-title p{margin-bottom:0}.counts{padding-bottom:30px}.counts .count-box{box-shadow:0 0 16px rgba(0,0,0,0.1);padding:30px;background:#fff;margin-bottom:30px}.counts .count-box i{display:block;font-size:64px;margin-bottom:15px}.counts .count-box span{font-size:42px;display:block;font-weight:700;color:#1c5c93}.counts .count-box p{padding:0;margin:0;font-family:"Raleway",sans-serif;font-size:14px}.btn-get-started{font-family:'Sarabun',sans-serif;font-weight:500;font-size:14px;letter-spacing:1px;display:inline-block;padding:12px 32px;border-radius:5px;transition:0.5s;line-height:1;margin:10px;color:#fff;-webkit-animation-delay:0.8s;animation-delay:0.8s;border:0;background:#428bca}.btn-get-started:hover{background:#1c5c93}#footer{background:#1c2023;padding:0 0 30px 0;color:#fff;font-size:14px}#footer .footer-top{background:#22252a;border-top:1px solid #768fa6;border-bottom:1px solid #22252a;padding:60px 0 30px 0}#footer .footer-top .footer-info{margin-bottom:30px}#footer .footer-top .footer-info h3{font-size:24px;margin:0 0 20px 0;padding:2px 0 2px 0;line-height:1;font-weight:700}#footer .footer-top .footer-info p{font-size:14px;line-height:24px;margin-bottom:0;font-family:"Raleway",sans-serif;color:#fff}#footer .footer-top .social-links a{font-size:18px;display:inline-block;background:#1c2023;color:#fff;line-height:1;padding:8px 0;margin-right:4px;border-radius:50%;text-align:center;width:36px;height:36px;transition:0.3s}#footer .footer-top .social-links a:hover{background:#428bca;color:#fff;text-decoration:none}#footer .footer-top h4{font-size:16px;font-weight:600;color:#fff;position:relative;padding-bottom:12px}#footer .footer-top .footer-links{margin-bottom:30px}#footer .footer-top .footer-links ul{list-style:none;padding:0;margin:0}#footer .footer-top .footer-links ul i{padding-right:2px;color:#9eccf4;font-size:18px;line-height:1}#footer .footer-top .footer-links ul li{padding:10px 0;display:flex;align-items:center}#footer .footer-top .footer-links ul li:first-child{padding-top:0}#footer .footer-top .footer-links ul a{color:#fff;transition:0.3s;display:inline-block;line-height:1}#footer .footer-top .footer-links ul a:hover{color:#9eccf4}#footer .footer-top .footer-newsletter form{margin-top:30px;background:#fff;padding:6px 10px;position:relative;border-radius:4}#footer .footer-top .footer-newsletter form input[type="email"]{border:0;padding:4px;width:calc(100% - 110px)}#footer .footer-top .footer-newsletter form input[type="submit"]{position:absolute;top:0;right:0;bottom:0;border:0;background:none;font-size:16px;padding:0 20px;background:#428bca;color:#fff;transition:0.3s;border-radius:4}#footer .footer-top .footer-newsletter form input[type="submit"]:hover{background:#5295ce}#footer .copyright{text-align:center;padding-top:30px}#footer .credits{padding-top:10px;text-align:center;font-size:13px;color:#fff}#footer .credits a{color:#9eccf4}.back-to-top{position:fixed;display:none;width:40px;height:40px;border-radius:3px;right:15px;bottom:15px;background:#428bca;color:#fff;transition:display 0.5s ease-in-out;z-index:99999}.back-to-top i{font-size:24px;position:absolute;top:8px;left:8px}.back-to-top:hover{color:#fff;background:#629fd3;transition:background 0.2s ease-in-out}h2{display:flex;width:100%;justify-content:center;align-items:center;text-align:center}h2:before,h2:after{content:'';border-top:2px solid;margin:0 20px 0 0;flex:1 0 20px}h2:after{margin:0 0 0 20px}


.sarabun{
	font-family: 'Sarabun' !important;
}

#fw-800{
	font-weight: 800;
}

/* Cookie Alert */
.cookiealert {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
margin: 0 !important;
z-index: 999;
opacity: 0;
visibility: hidden;
border-radius: 0;
transform: translateY(100%);
transition: all 500ms ease-out;
color: #ecf0f1;
background: #212327 url('../img/cubes.png');
}

.cookiealert.show {
opacity: 1;
visibility: visible;
transform: translateY(0%);
transition-delay: 1000ms;
}

.cookiealert a {
text-decoration: underline;
color: #ecf0f1;
}

.cookiealert .acceptcookies {
margin-left: 10px;
vertical-align: baseline;
}
#btn-cookie{
text-decoration: none !important;
font-size: 14px;

}
#fs-14{
font-size: 14px;
font-family: 'Sarabun', sans-serif;
}
#fs-16{
font-size: 16px;
font-family: 'Sarabun', sans-serif;
text-indent: 50px;
}

.blog-content{
margin: 0;
padding: 0;
}

.blog-content p{
font-size: 16px;
font-family: 'Sarabun', sans-serif;
line-height: 2em;
}

.boxContainer{
width: 350px;
height: 52px;
border: 2px solid #428bca;
padding: 0px 10px;
border-radius: 40px;
box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
.elementsContainer{
width: 100%;
height: 100%;
vertical-align: middle;
}
.search{
border: none;
width: 100%;
height: 100%;
padding: 0px 15px;
border-radius: 40px;
font-size: 16px;
font-family: 'Sarabun' !important;
color: #1c2023;
font-weight: 500;
}   
.search:focus{
outline: none;
}
.icofont-search{
font-size: 20px;
color: #428bca;
}







.panel-group {
margin-bottom: 0;
}
.panel-group .panel {
border-radius: 0;
box-shadow: none;
}
.panel-group .panel .panel-heading {
padding: 0;
}
.panel-group .panel .panel-heading h4 a {
background: #f6f9fc;
display: block;
font-size: 15px;
line-height: 20px;
padding: 15px;
text-decoration: none;
transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
/*background: #fff;*/
transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
content: "-";
font-size: 30px;
line-height: 10px;
}
.panel-group .panel .panel-heading h4 a i {
color: #999;
font-size: 12px;
}
.panel-group .panel .panel-body {
padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
border-top: none;
}
.panel-group .panel + .panel {
border-top: none;
margin-top: 0;
}



/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
color: #444;
text-align: center;
box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
padding: 20px 0 30px 0;
margin-bottom: 30px;
width: 100%;
}

.contact .info-box i {
font-size: 32px;
color: #428bca;
border-radius: 50%;
padding: 8px;
border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
font-size: 20px;
color: #666;
font-weight: 700;
margin: 10px 0;
}

.contact .info-box p {
padding: 0;
line-height: 24px;
font-size: 14px;
margin-bottom: 0;
}

.contact .php-email-form {
box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
padding: 30px;
}

.contact .php-email-form .validate {
display: none;
color: red;
margin: 0 0 15px 0;
font-weight: 400;
font-size: 13px;
}

.contact .php-email-form .error-message {
display: none;
color: #fff;
background: #ed3c0d;
text-align: left;
padding: 15px;
font-weight: 600;
}

.contact .php-email-form .error-message br + br {
margin-top: 25px;
}

.contact .php-email-form .sent-message {
display: none;
color: #fff;
background: #18d26e;
text-align: center;
padding: 15px;
font-weight: 600;
}

.contact .php-email-form .loading {
display: none;
background: #fff;
text-align: center;
padding: 15px;
}

.contact .php-email-form .loading:before {
content: "";
display: inline-block;
border-radius: 50%;
width: 24px;
height: 24px;
margin: 0 10px -6px 0;
border: 3px solid #18d26e;
border-top-color: #eee;
-webkit-animation: animate-loading 1s linear infinite;
animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
border-radius: 0;
box-shadow: none;
font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
background-color: #428bca;
}

.contact .php-email-form input {
padding: 20px 15px;
}

.contact .php-email-form textarea {
padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
background: #428bca;
border: 0;
padding: 10px 24px;
color: #fff;
transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
background: #6aa3d5;
}

.detail{
margin-top: 10px;
font-size: 16px;
}


.bxl-facebook::before{
margin-top: 10px;
}
.share-button { 
display: inline-block;
outline: none; 
}
.contact-p{
margin: 0 60px;
}



@media (min-width:1366px){
.fb-share{
  float: right;
  
}
}


.fb-share-button {
background: #3b5998;
border-radius: 3px;
font-weight: 600;
padding: 5px 8px;
display: inline-block;
position: static;
margin-left: 2px;
}

.fb-share-button:hover {
cursor: pointer;
background: #213A6F
}

.fb-share-button svg {
width: 18px;
fill: white;
vertical-align: middle;
border-radius: 2px
}

.fb-share-button span {
vertical-align: middle;
color: white;
font-size: 12px;
padding: 0 3px
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
width: 18px;
height: 18px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #fff;
}

.tw-share-button {
background: #26a7de;
border-radius: 3px;
font-weight: 600;
padding: 5px 8px;
display: inline-block;
position: static;
margin-left: 2px;
}

.tw-share-button:hover {
cursor: pointer;
background: #3562c2
}

.tw-share-button svg {
width: 18px;
fill: white;
vertical-align: middle;
border-radius: 2px
}

.tw-share-button span {
vertical-align: middle;
color: white;
font-size: 12px;
padding: 0 3px
}
